@font-face {
  font-family: Alibaba;
  src: url('assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
}

:root {
  font-family: Alibaba, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* #app {

} */